## Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build
bin/
obj/
Debug/
Release/
x64/
x86/
*.log

## Archivos de dependencias
packages/
*.nupkg
*.snupkg

## Configuración local
appsettings.Development.json

## Otros
*.dbmdl
*.bak
*.mdf
*.ldf

